export UV_PYTHON=3.12
use local-python
export HASHSTORE_ROOT="$(pwd)/data/hashstore"
export HASHSTORE_DEPTH=3
export HASHSTORE_WIDTH=2
export HASHSTORE_NAMESPACE="https://ns.dataone.org/service/types/v2.0#SystemMetadata"
export HASHSTORE_ALGORITHM="SHA-256"
